<div style="background-color:powderblue;" class="user-transition" id="about" >
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="tech">
    <h3>Programming Languages</h3>
    <i class="devicon-python-plain-wordmark"></i>
    <i class="devicon-c-plain"></i>
    <i class="devicon-cplusplus-plain"></i>
    <i class="devicon-csharp-plain"></i>
    <i class="devicon-java-plain-wordmark"></i>
    <i class="devicon-css3-plain-wordmark"></i>
    <i class="devicon-html5-plain-wordmark"></i>
    <p> And more... </p>
  </div>

  <div class="tech">
    <h3>Development platforms</h3>
    <i class="devicon-linux-plain"></i>
    <i class="devicon-windows8-original"></i>
    <i class="devicon-android-plain"></i>
    <i class="devicon-amazonwebservices-original"></i>
  </div>
</div>

<h3>Languages</h3>
<div class="user">
  <div class="tech">
    <h3> English </h3>
    <img style="width:18%" src="{{ "/assets/img/flag_uk.png" | prepend: site.baseurl }}"/>
    <img style="width:18%" src="{{ "/assets/img/flag_us.png" | prepend: site.baseurl }}"/>
    <p> Fluent </p>
  </div>
  <div class="tech">
    <h3> French </h3>
    <img src="{{ "/assets/img/flag_fr.png" | prepend: site.baseurl }}"/>
    <p> Native </p>
  </div>
  <div class="tech">
    <h3> Italian </h3>
    <img src="{{ "/assets/img/flag_it.png" | prepend: site.baseurl }}"/>
    <p> Notion </p>
  </div>
</div>


<div class="world-map">
<h3> Country where I traveled </h3>
  <img src="{{ "/assets/img/world_map.png" | prepend: site.baseurl }}"/>
</div>



<!-- 
  <div class="tech">
    <h3>Collaborative tools</h3>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-github-plain-wordmark colored"></i>
    <i class="devicon-gitlab-plain-wordmark colored"></i>
    <i class="devicon-bitbucket-plain-wordmark colored"></i>
    <i class="devicon-trello-plain-wordmark colored"></i>
    <i class="devicon-slack-plain-wordmark colored"></i>
  </div>
-->