 <footer class="user-details">
  <p> About me </p>
  <p> {{site.user_description}} </p>
</footer>
  <div class="user">
    <div class="tech">
      <h2>Languages</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-cplusplus-plain colored"></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-css3-plain-wordmark colored"></i>
      <i class="devicon-html5-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Collaborative tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-gitlab-plain-wordmark colored"></i>
      <i class="devicon-bitbucket-plain-wordmark colored"></i>
      <i class="devicon-trello-plain-wordmark colored"></i>
      <i class="devicon-slack-plain-wordmark colored"></i>
    </div>
    <div class="tech">
      <h2>Development platforms</h2>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-windows8-original colored"></i>
      <i class="devicon-android-plain colored"></i>
      <i class="devicon-amazonwebservices-original colored"></i>
    </div>
</div>
