<div class="user-transition" id="about">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>

<h3>Programming Languages</h3>
<div class="user">
  <div class="tech">
    <i class="devicon-python-plain-wordmark colored"></i>
    <i class="devicon-c-plain colored"></i>
    <i class="devicon-cplusplus-plain colored"></i>
    <i class="devicon-csharp-plain colored"></i>
    <i class="devicon-java-plain-wordmark colored"></i>
    <i class="devicon-css3-plain-wordmark colored"></i>
    <i class="devicon-html5-plain-wordmark colored"></i>
    <p> And more... </p>
  </div>
</div>

<h3>Development platforms</h3>
<div class="user">
  <div class="tech">
    <i class="devicon-linux-plain colored"></i>
    <i class="devicon-windows8-original colored"></i>
    <i class="devicon-android-plain colored"></i>
    <i class="devicon-amazonwebservices-original colored"></i>
  </div>
</div>

<h3>Languages</h3>
<div class="user">
  <div class="tech">
    <h4> English </h4>
    <img style="width:18%" src="{{ "/assets/img/flag_uk.png" | prepend: site.baseurl }}"/>
    <img style="width:18%" src="{{ "/assets/img/flag_us.png" | prepend: site.baseurl }}"/>
    <p> Fluent </p>
  </div>
  <div class="tech">
    <h4> French </h4>
    <img src="{{ "/assets/img/flag_fr.png" | prepend: site.baseurl }}"/>
    <p> Native </p>
  </div>
  <div class="tech">
    <h4> Italian </h4>
    <img src="{{ "/assets/img/flag_it.png" | prepend: site.baseurl }}"/>
    <p> Basic </p>
  </div>
</div>


<div class="world-map">
<h3> Country where I traveled </h3>
  <img src="{{ "/assets/img/world_map.png" | prepend: site.baseurl }}"/>
</div>


<!-- 
  <div class="tech">
    <h3>Collaborative tools</h3>
    <i class="devicon-git-plain colored"></i>
    <i class="devicon-github-plain-wordmark colored"></i>
    <i class="devicon-gitlab-plain-wordmark colored"></i>
    <i class="devicon-bitbucket-plain-wordmark colored"></i>
    <i class="devicon-trello-plain-wordmark colored"></i>
    <i class="devicon-slack-plain-wordmark colored"></i>
  </div>

-->



