<div class="user-transition" id="educations">
  <h1> Education and training </h1>
</div>

<div class="user-presentation">
  <div class="images-left">
    <img alt="ECE" src="{{ "/assets/img/ECE.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Engineering student in Paris </h3>
    <p> September 2013 to june 2016, Paris France </p>
    <ul>
      <li> Major in embedded system </li>
      <li> Minor in management </li>
      <li> Deepening in aeronautics </li>
    </ul>
    <a class="project-link" href="https://www.ece.fr/lp/index.php">Website</a>
  </div>
</div>
<div class="user-presentation">
  <div class="images-left">
    <img alt="UCIrvine" src="{{ "/assets/img/UCIrvine.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Seminare : Global business & manufacturing management </h3>
    <p> Auguste to september 2015, Irvine USA </p>
    <ul>
      <li> Global Marketing </li>
      <li> Business Management </li>
      <li> Manufacturing Management </li>
    </ul>
    <a class="project-link" href="https://uci.edu/">Website</a>
  </div>
</div>
<div class="user-presentation">
  <div class="images-left">
    <img alt="UNIKL" src="{{ "/assets/img/UNIKL.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Exchange student in Engineering in Malaysian Institute of Information Technology </h3>
    <p> January to june 2014, Kuala-Lumpur Malaysia </p>
    <ul>
      <li> Innovation management </li>
      <li> Object-oriented programming </li>
      <li> Probability and statistics </li>
      <li> Signals and systems </li>
    </ul>
    <a class="project-link" href="https://www.unikl.edu.my/">Website</a>
  </div>
</div>
