<div class="user-details">
  <h1> Education and training </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="UCIrvine" src="/assets/img/UCIrvine.png">
  </div>
  <div class="contents-right">
    <h3>University Of California, Irvine. USA</h3>
    <ul>
      <li> 1 </li>
      <li> 2 </li>
    </ul>
    <p>Global Business Management & Global Manufacturing Management</p>
    <a class="project-link" href="https://uci.edu/">Website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="UNIKL" src="/assets/img/UNIKL.png">
  </div>
  <div class="contents-right">
    <h3>UniKL, Kuala Lumpur. Malaysia</h3>
    <ul>
      <li> 1 </li>
      <li> 2 </li>
    </ul>
    <p>Exchange student in Engineering in Malaysian Institute of Information Technology</p>
    <a class="project-link" href="https://www.unikl.edu.my/">Website</a>
  </div>
</div>
