<div class="user-details" id="experiences">
  <h1> Work experiences </h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Thales" src="{{ "/assets/img/Thales.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Thales </h3>
    <ul>
      <li> Conception, développement et validation de logiciels pour radioaltimètres </li>
      <li> Étude et développement d’un modèle de simulation d’équipement </li>
      <li> Évaluation d’un composant de sécurité </li>
      <li> Gestion de projet logiciel </li>
      <li> Participation à des innovations internes Thales </li>
    </ul>
    <p> Développeur - Service Logiciel Identification Navigation </p>
    <a class="project-link" href="https://www.thalesgroup.com/">Website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Eutelsat" src="{{ "/assets/img/Eutelsat.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Eutelsat </h3>
    <ul>
      <li> 1 </li>
      <li> 2 </li>
    </ul>
    <p> Internship </p>
    <a class="project-link" href="https://www.eutelsat.com/">Website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Kelnomad" src="{{ "/assets/img/Kelnomad.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Kelnomad </h3>
    <ul>
      <li> 1 </li>
      <li> 2 </li>
    </ul>
    <p> Internship </p>
    <a class="project-link" href="http://www.kelnomad.fr/">Website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="CNRS" src="{{ "/assets/img/CNRS.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CNRS </h3>
    <ul>
      <li> 1 </li>
      <li> 2 </li>
    </ul>
    <p> Internship </p>
    <a class="project-link" href="http://www.cnrs.fr/">Website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Aviva" src="{{ "/assets/img/Aviva.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Aviva </h3>
    <ul>
      <li> 1 </li>
      <li> 2 </li>
    </ul>
    <p> Worker </p>
    <a class="project-link" href="https://www.aviva.fr/">Website</a>
  </div>
</div>
