<div class="user-details">
  <h1> Work experiences </h1>
</div>
<div class="user">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Thales.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Thales </h3>
    <ul>
      <li> Featured Skills </li>
      <li> Featured Skills </li>
    </ul>
    <p> Current Job : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://www.thalesgroup.com/">Website</a>
  </div>
</div>
<div class="user">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Eutelsat.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Eutelsat </h3>
    <ul>
      <li> Featured Skills </li>
    </ul>
    <p> Internship : Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="https://www.eutelsat.com/">Website</a>
  </div>
</div>
