<div class="footer" id="experiences">
  <p> Work experiences </p>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="Thales" src="{{ "/assets/img/Thales.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CyberSecurity Engineer </h3>
    <p> Current job : since july 2019, Gennevilliers (92)</p>
    <a class="project-link" href="https://www.thalesgroup.com/">Website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Thales" src="{{ "/assets/img/Thales.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Embedded Software Engineer for Radiocommunication product </h3>
    <ul>
      <li> Conception, développement et validation de logiciels pour radioaltimètres </li>
      <li> Étude et développement d’un modèle de simulation d’équipement </li>
      <li> Évaluation d’un composant de sécurité </li>
      <li> Gestion de projet logiciel </li>
      <li> Participation à des innovations internes Thales </li>
    </ul>
    <p> 3 years : September 2016 to auguste 2019, Gennevilliers (92)</p>
    <a class="project-link" href="https://www.thalesgroup.com/">Website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Thales" src="{{ "/assets/img/Thales.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Stage de fin d’étude - Service d’étude amont </h3>
    <ul>
      <li> Étude et développement d’une architecture de maintenance adaptable à plusieurs systèmes </li>
    <u2>
      <li> Développement d’une Gateway Multiple interfaces (Wifi, Ethernet, NFC, Lora) sur IMX6 (cible ARM Cortex-A9 multicoeur) : parallélisation, C </li>
      <li> Développement de scripts de test : Bash, Python, JAVA </li>
      <li> Implémentation d’une communication RF Lora multicanal </li>
      <li> Application de supervision Android : JAVA, HTML, Javascript, CSS </li>
    </u2>
    </ul>
    <p> 6 months Internship : February to auguste 2016, Gennevilliers (92)</p>
    <a class="project-link" href="https://www.thalesgroup.com/">Website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Eutelsat" src="{{ "/assets/img/Eutelsat.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Stagiaire en équipe surveillance satellites et sites au sol </h3>
    <ul>
      <li> Développement d’outils de supervision pour 25 téléports internationaux </li>
    <u2>
      <li> Environnement .Net : C#, JavaScript, Html </li>
      <li> Mise en place serveur de gestion de projet Redmine : Ruby </li>
      <li> Scripts : C#, Bash, Python, Perl </li>
    </u2>
    </ul>
    <p> 4 months Internship : April to auguste 2015, Rambouillet (78) </p>
    <a class="project-link" href="https://www.eutelsat.com/">Website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Kelnomad" src="{{ "/assets/img/Kelnomad_dark.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Android developer </h3>
    <ul>
      <li> Design, JAVA, XML & database MySQL </li>
    </ul>
    <p> 2 months fixed-term employee : June to july 2014, Noisy-Le-Grand (93)</p>
    <a class="project-link" href="http://www.kelnomad.fr/">Website</a>
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="CNRS" src="{{ "/assets/img/CNRS.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> CNRS </h3>
    <ul>
      <li> 1 </li>
      <li> 2 </li>
    </ul>
    <p> Internship </p>
    <a class="project-link" href="http://www.cnrs.fr/">Website</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Aviva" src="{{ "/assets/img/Aviva.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Aviva </h3>
    <ul>
      <li> 1 </li>
      <li> 2 </li>
    </ul>
    <p> Worker </p>
    <a class="project-link" href="https://www.aviva.fr/">Website</a>
  </div>
</div> -->
