<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      
      <section id="experiences">
        {% include experiences.html %}
      </section>
      
      <div class="footer">
        <p> Education and training </p>
      </div>
      <section id="educations">
        {% include educations.html %}
      </section>
      
      <section id="about">
        {% include about.html %}
      </section>

        {{ content }}
      {% include footer.html %}
  </body>
